[Unit]
Description=service-platform

[Service]
ExecStart=/usr/bin/java -jar /home/resources/platform/service-platform-0.0.1-SNAPSHOT.jar --server.port=8030 --spring.profiles.active=formal
Restart=always

[Install]
WantedBy=multi-user.target
