[Unit]
Description=service-shop

[Service]
ExecStart=/usr/bin/java -jar /home/resources/shop/service-shop-0.0.1-SNAPSHOT.jar --server.port=8010 --spring.profiles.active=formal
Restart=always

[Install]
WantedBy=multi-user.target
